# Dependencies
node_modules/

# Build output
dist/
out/
dist_electron/
# Ignore temporary test folders and zips
fuckoff/
*.zip
test_*.js
# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Electron
*.log

# Environment
.env
.env.local
