name: Build and Release GeeksCode
on:
  push:
    branches:
      - shivam
  workflow_dispatch:
jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "yarn"
      
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      
      - name: Rebuild Native Modules
        run: yarn electron-rebuild
      
      - name: Build React Frontend
        run: yarn build
      
      - name: Build/Release Electron App
        uses: samuelmeuli/action-electron-builder@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release: true
          build_script_name: build
        env:
          # Helps with native module compilation on Windows
          npm_config_node_gyp: ${{ github.workspace }}/node_modules/node-gyp/bin/node-gyp.js
